.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-grow {
  flex-grow: 1;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

// justify classes
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}

// align items classes
.items-start {
  align-items: start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-stretch {
  align-items: stretch;
}

// other
.flex-center {
  justify-content: center;
  align-items: center;
}
.no-wrap {
  flex-wrap: nowrap;
}
